ZaSlider.xcodeproj/idelovski_saved.mode1v3
ZaSlider.xcodeproj/idelovski.pbxuser 
ZaSlider.xcodeproj/idelovski.pbxuser 
# ZaSlider.xcodeproj/project.pbxproj
ZaSlider.xcodeproj/project.xcworkspace
ZaSlider.xcodeproj/xcuserdata 
.DS_Store
